@charset "UTF-8";

#admin_wrap{
	height: 100%;
}

.chat_wrap{
	border: 1px solid black;
	width: 100%;
	height: 700px;
	display: flex;
	justify-content: flex-start;
}

.chat_list{
	border: 1px solid black;
	width: 300px;
	height: 100%;
}

.chat_main{
	border: 1px solid black;
	height: 100%;
	width: 63%;
}
.chat_cont{
	height: 650px;
	padding: 20px;
	box-sizing: border-box;
}
.chat_btn{
	height: 50px;
    position: relative;
}
.chat_msg{
	width: 90%;
	height: 70%;
}
.chat_send{
	background-color: transparent;
	position: absolute;
    top: 10%;
    right: 5%;
    border: none;
}
.chat_list_img{
	width: 25px;
	height: 25px;
	cursor: pointer;
}