<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
	 <typeAliases>
	 	<typeAlias type="com.spring.finproj.model.user.UserDAO" alias="userDAO"/>
	 	<typeAlias type="com.spring.finproj.model.user.UserDTO" alias="userDTO"/>
	 	<typeAlias type="com.spring.finproj.model.user.UserSessionDTO" alias="userSessionDTO"/>
	 	<typeAlias type="com.spring.finproj.model.camping.CampingDAO" alias="campingDAO"/>
	 	<typeAlias type="com.spring.finproj.model.camping.CampingDTO" alias="campingDTO"/>
	 	<typeAlias type="com.spring.finproj.model.board.BoardDAO" alias="boardDAO"/>
	 	<typeAlias type="com.spring.finproj.model.board.BoardDTO" alias="boardDTO"/>
	 	<typeAlias type="com.spring.finproj.model.board.MarketDAO" alias="marketDAO"/>
	 	<typeAlias type="com.spring.finproj.model.drive.DriveDAO" alias="driveDAO"/>
	 	<typeAlias type="com.spring.finproj.model.drive.DriveDTO" alias="driveDTO"/>
	 	<typeAlias type="com.spring.finproj.model.weather.WeatherDAO" alias="weatherDAO"/>
	 	<typeAlias type="com.spring.finproj.model.weather.WeatherDTO" alias="weatherDTO"/>
	 	<typeAlias type="com.spring.finproj.model.chat.ChatDAO" alias="chatDAO"/>
	 	<typeAlias type="com.spring.finproj.model.chat.ChatDTO" alias="chatDTO"/>
	</typeAliases>
 </configuration>