@charset "UTF-8";

html {
	font-family: 'Source Sans Pro', sans-serif !important;
	font-size: 16px !important;
}

body{
	width: 1000px;
}

#container{
	width: 100%;
	margin: 100px auto 0 auto;
	background-color: white;
	position: relative;
}

@media all and (max-width:1000px) {
	body {
		width: 80%;
	}
	#header{
		width: 80%;
	}
	.login_navi_logo_li img{
		width: 64px;
		height: 65.2px;
	}
	
}

@media all and (max-width:680px) {
	body {
		width: 100%;
	}
	#container{
		width: 100%;
		margin: 80px auto 0 auto;
		background-color: white;
		position: relative;
		height: 100%;
	}
}

#weather_footer{
	width: 1000px;
	bottom: 0;
	background-color: #fff;
	z-index: 1;
	height: 78px;
	border-top: 1px solid #e3e3e3;
}


@media all and (max-width:1000px) {
	#weather_footer{
		width: 80%;
		bottom: 0;
		background-color: #fff;
		z-index: 1;
		height: 78px;
		border-top: 1px solid #e3e3e3;
	}
}

@media all and (max-width:680px) {
	#weather_footer{
		width: 100%;
		bottom: 0;
		background-color: #fff;
		z-index: 1;
		height: 60px;
		border-top: 1px solid #e3e3e3;
	}
}

#weather_footer .move_navi{
	display: flex;
	justify-content: space-around;
	padding: 0;
	margin: auto;
	background-color: #fff;
	height: 100%;
	text-align: center;
    white-space: nowrap;
}
#weather_footer .move_navi li{
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 14px;
	width: 60px;
	align-items: center;
}
@media all and (max-width:680px) {
	#weather_footer .move_navi li{
		font-size: .8em;
	}
}

#footer_stella img{
	width: 35px;
	margin-bottom: 5px;
}

#footer_star img{
	width: 38px;
	margin-bottom: 5px;
}

#footer_home img{
	width: 35px;
	margin-bottom: 5px;
}
	
#footer_weather img{
	width: 45px;
	margin-bottom: 5px;
}

#footer_drive img{
	width: 38px;
	margin-bottom: 5px;
}

@media all and (max-width:680px) {

	#footer_stella img{
		width: 30px;
		margin-bottom: 3px;
	}
	
	#footer_star img{
		width: 33px;
		margin-bottom: 5px;
	}
	
	#footer_home img{
		width: 30px;
		margin: 0;
	}
		
	#footer_weather img{
		width: 40px;
		margin-bottom: 5px;
	}
	
	#footer_drive img{
		width: 30px;
		margin-bottom: 5px;
	}
}

.weather_search {
	display: flex;
	margin-bottom: 40px;
	position: relative;
	background-color: white;
	border-bottom: 1px solid #525252;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	justify-content: space-between;
}

.search_weather {
	border: none;
	outline: none;
	font-size: 1.1em;
	font-weight: bold;
    width: 100%;
}

.weather_search button {
	position: absolute;
	border: none;
	background-color: transparent;
	right: 0;
	font-size: 1.1em;
	color: #525252;

}

#now_wrap {
	margin-top: 10px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 10px;
}

.icon_weather {
	width: 41px;
}
.icon_temp {
	width: 21px;
}
.icon_rain {
	width: 26px;
}
.icon_rmm {
	width: 36px;
}
.icon_stroke {
	width: 28px;
}
.icon_wind {
	width: 40px;
}

.wind_degree_img {
	margin-left: 10px;
}

.weather_index_wrap {
	border-bottom: 1px solid #cccccc;
	padding-bottom: 14px;
}