@charset "UTF-8";

html {
	font-family: 'Source Sans Pro', sans-serif !important;
	font-size: 16px !important;
}

body{
	width: 1000px;
}

#container{
	width: 100%;
	margin: 100px auto 0 auto;
	background-color: white;
	position: relative;
}

@media all and (max-width:1000px) {
	body {
		width: 80%;
	}
	#header{
		width: 80%;
	}
	.login_navi_logo_li img{
		width: 64px;
		height: 65.2px;
	}
}

@media all and (max-device-width:680px) {
	body {
		width: 100%;
	}
	#header{
		width: 100%;
	}
	#container{
		margin: 80px auto 0 auto;
		height: 100%;
	}
}

#content{
	min-height: calc(100vh - 178px);
}
@media all and (max-device-width:680px) {
	#content{
		min-height: calc(100vh - 140px);
	}
}

#weather_footer{
	width: 100%;
	bottom: 0;
	background-color: #fff;
	z-index: 1;
	height: 78px;
	border-top: 1px solid #e3e3e3;
	position: sticky;
}

@media all and (max-device-width:680px) {
	#weather_footer{
		height: 60px;
	}
}

#weather_footer .move_navi{
	display: flex;
	justify-content: space-around;
	padding: 0;
	margin: auto;
	background-color: #fff;
	height: 100%;
	text-align: center;
    white-space: nowrap;
}
#weather_footer .move_navi li{
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 14px;
	width: 60px;
	align-items: center;
}
@media all and (max-width:680px) {
	#weather_footer .move_navi li{
		font-size: .8em;
	}
}

#footer_stella img{
	width: 35px;
	margin-bottom: 5px;
}

#footer_star img{
	width: 38px;
	margin-bottom: 5px;
}

#footer_home img{
	width: 35px;
	margin-bottom: 5px;
}
	
#footer_weather img{
	width: 45px;
	margin-bottom: 5px;
}

#footer_drive img{
	width: 38px;
	margin-bottom: 5px;
}

@media all and (max-width:680px) {

	#footer_stella img{
		width: 30px;
		margin-bottom: 3px;
	}
	
	#footer_star img{
		width: 33px;
		margin-bottom: 5px;
	}
	
	#footer_home img{
		width: 30px;
		margin: 0;
	}
		
	#footer_weather img{
		width: 40px;
		margin-bottom: 5px;
	}
	
	#footer_drive img{
		width: 30px;
		margin-bottom: 5px;
	}
}