@charset "UTF-8";
#content {
	width: 97%;
}

.weather_wrap{
	margin-top: 12px;
	display: flex;
    justify-content: space-evenly;	
}
.weather_wrap h4{
	display: flex;
	align-items: flex-end;
	line-height: 30px;
	margin-left: 5%;
}
@media all and (max-width:500px){
	.weather_wrap h4{
		margin-left: 3%;
	}
}
.weather_info_wrap{
	padding-left: 6%;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

@media all and (max-width:750px){
	.weather_info_wrap{
		padding-left: 4%;
	}
}

@media all and (max-width:500px){
	.weather_info_wrap{
		padding-left: 2%;
	}
}

.weather_cate_info{
	display: flex;
    width: 16%;
    align-items: center;
    justify-content: center;
}

.weather_index_wrap {
    padding-left: 9%;
    padding-right: 8%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

@media all and (max-width:1000px){
	.weather_index_wrap {
		padding-right: 5%;
		margin-top: 5px;
	}
}

@media all and (max-width:500px){
	.weather_index_wrap {
		padding-right: 5%;
		margin-top: 0px;
	}
}

.day_style {
	width: 30px;
}

#map {
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    top: -1px;
    left: 0;
    /* padding-left: 24px; */
    padding-right: 24px;
    width: 650px;
    height: 350px;
}

@media all and (max-width:1000px){
	#map{
		width: 100%;
	}
}

#map > div {
    position: relative;
    display: block;
    margin: 0px;
    padding: 0px;
    border: 0px none;
    top: 0px;
    left: 200px;
    overflow: visible;
    width: 100%;
    height: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 0;
    cursor: url(http://static.naver.net/maps/mantle/2x/openhand.cur), default;
}


.weather_search {
	display: flex;
	margin-bottom: 40px;
	position: relative;
	background-color: white;
	border-bottom: 1px solid #525252;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	justify-content: space-between;
}

@media all and (max-width:1000px){
	.weather_search{
		width: 60%;
	}
}

@media all and (max-width:500px){
	.weather_search{
		width: 90%;
		font-size: .9em;
	}
}

.search_weather {
	border: none;
	outline: none;
	font-size: 1.1em;
	font-weight: bold;
    width: 100%;
}

.weather_search button {
	position: absolute;
	border: none;
	background-color: transparent;
	right: 0;
	font-size: 1.1em;
	color: #525252;
	cursor: pointer;
}

#now_wrap {
	margin-top: 10px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 10px;
}

.icon_weather {
	width: 41px;
}
@media all and (max-width:1000px) {
	.icon_weather {
		margin-left: 6px;
	}
}

@media all and (max-width:680px) {
	.icon_weather {
		margin-left: 6px;
	}
}
.icon_temp {
	width: 21px;
}
.icon_rain {
	width: 26px;
}
.icon_rmm {
	width: 36px;
}
.icon_stroke {
	width: 28px;
}
.icon_wind {
	width: 40px;
}

.wind_degree_img {
	margin-left: 10px;
	width: 20px;
}

.weather_index_wrap {
	border-bottom: 1px solid #cccccc;
	padding-bottom: 14px;
	height: 50px;
}
@media all and (max-width: 500px) {
	.weather_wrap {
		font-size: 14px;
	}
}