@charset "EUC-KR";
#container{
	width: 1000px;
	margin: 50px auto;
	height: 1000px;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	overflow-x: hidden;
}
div{
	border: 1px solid gray;
}
a{
	color: blue;
}
a:hover{
	color: lightblue;
}

#header{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	z-index: 1;
	height: 100px;
}
#header #login_navi{
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: auto;
	background-color: #c0c0c0;
	width: 1000px;
	height: 100%;
}
#header #login_navi li{
	list-style: none;
}
#header #login_navi img{
	width: 100px;
}
#header #user_menu_wrap{
	display: none;
	width: 30%;
	margin: 0 0 0 auto;
	background-color: #fff
}
#header #user_menu_body{
	height: 500px;
}

#content{
	width: 100%;
	margin: 50px auto;
}

#footer{
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #fff;
	z-index: 1;
	height: 100px;
}
#footer #move_navi{
	display: flex;
	justify-content: space-around;
	padding: 0;
	margin: auto;
	background-color: #c0c0c0;
	width: 1000px;
	height: 100%;
}
#footer #move_navi li{
	list-style: none;
}

#footer #navi_camping{
	position: absolute;
	z-index: 2;
	bottom: 70px;
}
#footer #navi_camping img{
	width: 60px;
}

/* campingList css 적용 */
#test_wrap{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
#test{
	display: flex;
	justify-content: flex-start;
	width: 400px;
	margin-top: 50px;
}
#test_image{
	width: 100px;
	height: 100px;
}
#test_image img{
	width: 100%;
	height: 100%;
	margin: auto;
	vertical-align: middle;
}
#test_info{
	width: 300px;
}

/* weather side css */
#weather_side{
	margin-right: 100px;
	width: 150px;
}
#weather_side ul{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 0;
}
#weather_side ul li{
	list-style: none;
	text-align: center;
}
#satellite_wrap{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#satellite_wrap img{
	width: 400px;
}
