@charset "UTF-8";

#forget_wrap {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.text_part {
    width: 36%;
	margin: 5% auto;
}

@media all and (max-width:1000px) {
    .text_part {
		width: 55%;
	}
}
@media all and (max-width:680px) {
    .text_part {
     width: 85%;
	}
}

#title {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}


.text_part_box {
    margin-bottom: 1.5em;
}

.authen_box {
	display: flex;
    align-items: baseline;
}

.text_part button {
    background-color: white;
    border: 1px solid #9d9d9d;
    color: #9d9d9d;
}

.authen_box button {
    width: 60%;
    height : 20px;
    font-size: 9px;
    margin-left: 2px;
}

.code_result{
	margin-top: 50px;
}

.phone_result{
	display: flex;
	align-items: center;
	justify-content: center;
}

.text_part ::placeholder {
    font-size: 9px;
    color: #9d9d9d;
}

.text_part_box-wrap{
	display: none;
}

.noWhitespace {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    height: 26px;
    font-size: 15px;
    margin-top: 0.4em;
    margin-bottom: 0.2em;
    border-color: #a9a9a9;
}

.text {
	font-size: 12px;
	text-align: left;
	color: #9d9d9d;
}

.authen_part {
	margin : 15% 0;
}

.modify {
    display: flex;
    justify-content: center;
}

.modify button {
    font-size: 14px;
    width: 100%;
    height: 30px;
    color : #9d9d9d;
    font-weight: bold;
    margin: 20px 0;
}

.input_phoneError {
    margin-bottom: 10%;
}

#forget_wrap button:hover {
	background-color: #6fcf97;
	color: white;
	cursor: pointer;
    border: none;
}

#forget_wrap [class$="Error"] {
    color: #c7c7c7 !important;
    font-size: 10px;	
  }
  
  #forget_wrap p {
      color : #9d9d9d;
  } 
  
  #forget_wrap ::placeholder {
      font-size: 9px;
      color: #9d9d9d;
  }

  input {
    border-bottom: 1px solid #9d9d9d;
  }