@charset "UTF-8";

#mypage_wrap {
	width: 100%;
	display: flex;
	justify-content: center;
}

#mypage_container_center {
	width: 36%;
	margin: 5% 0;
}

#previewImg {
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

#title {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 32px;
    margin: 20% 0 15% 0;
}

.text {
	font-size: 12px;
	text-align: left;
	color: #9d9d9d;
}


#mypage_wrap ::placeholder {
    font-size: 9px;
    color: #9d9d9d;
}

.noWhitespace {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    height: 26px;
    font-size: 15px;
    margin-top: 0.4em;
    margin-bottom: 0.2em;
    border-bottom: #a9a9a9 solid 1px;
}

.text_part {
    margin: 0 10%;
}
.text_part_box {
    margin: 1.5em 0;
}

.authen_box {
	display: flex;
    align-items: baseline;
}

#mypage_wrap button {
    background-color: white;
    border: 1px solid #9d9d9d;
    color: #9d9d9d;
}

.social_profie_btn {
    width: 55%;
    font-size: .7em;
}

.authen_box button {
    width: 65%;
    height : 20px;
    font-size: 9px;
    margin-left: 2px;
    cursor: pointer;
}
.authen_box button:hover{
	background-color: #6fcf97;
	color: white;
}

.modify {
    display: flex;
    justify-content: center;
}

.modify button {
    font-size: 14px;
    width: 80%;
    height: 30px;
    color : #9d9d9d;
    font-weight: bold;
    margin: 20px 0;
}

.modify button:hover {
	background-color: #6fcf97;
    border: none;
	color: white;
}

#mypage_wrap [class$="Error"] {
  color: #c7c7c7 !important;
  font-size: 10px;	
}

.input_phoneError, .codeError, .pwd_checkError {
	margin-bottom: 10%;
}