@charset "EUC-KR";
#content{
	height: 500px;
}

.index_camping_list{
	height: 500px;
}
.index_camping_content{
	text-align: center;
}
.camping_img img{
	margin: auto;
}
.camping_name,
.camping_info{
	text-align: center;
}
.banner img{
	width: 100%;
}
.index_board{
	height: 500px;
}